body {
    background-color: rgb(243, 222, 186);
}

li {
    float: left;
}

.right {
    float: right;
}

li a {
    display: block;
    color: rgb(206, 89, 89);
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    /* border: 1px solid black; */

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(186, 205, 219);
    border: 1px solid black;

}

.p-center {
    text-align: center;
}

.text-color1 {
    color:darkblue ;
    background-color:rgba(127, 255, 212, 0.6);
    border: 4px double black;
}

.text-color2 {
    color:darkcyan;
}

.text-color3 {
    color: rgba(76, 0, 130, 0.7);
}